<VirtualHost _default_:80>
        ServerName www.{{ ansible_hostname }}.com
        ServerAlias {{ ansible_hostname }}.com {{ ansible_hostname }}.netlouinternal.com

        Redirect 301 / https://www.dgeglaw.com/

        ServerAdmin writethegeek@gmail.com
        DocumentRoot /home/{{ ansible_hostname }}/public_html

        <Directory /home/{{ ansible_hostname }}/public_html>
                Options FollowSymLinks
                AllowOverride all
                Require all granted
        </Directory>

        ErrorLog ${APACHE_LOG_DIR}/{{ ansible_hostname }}.error.log
        CustomLog  ${APACHE_LOG_DIR}/{{ ansible_hostname }}.access.log combined
</VirtualHost>